{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}



{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='cssmin'  output='vendor/innovaactivity/editor.css'
        '@InnovaActivityBundle/Resources/public/css/Editor/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% import _self as macros %}
    <div class="panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-brand">
                    {{ _resource.resourceNode.name }}
                </div>
            </div>
        </nav>

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Instructions
                    </h4>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for instruction in _resource.instructions %}
                            <li>{{ instruction.media }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Choix
                    </h4>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{{ path('innova_answer_create', { 'activityId': _resource.id }) }}">
                        <ul class="list-unstyled">
                            {% for choice in _resource.type.choices %}
                                {{ macros.inputs(_resource.typeAvailable, choice) }}
                            {% endfor %}
                        </ul>
                        <button class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% macro inputs(activityType, choice) %}
    {% if activityType.name == "MultipleChoiceType" %}
        {% set type = "checkbox" %}
    {% else %}
        {% set type = "radio" %}
    {% endif %}
    <div>
        <label for="choice-{{choice.id}}">
            <input name="choices[]" type="{{ type }}" id="choice-{{choice.id}}" value="{{ choice.id }}">
            {{ choice.media }}
        </label>
    </div>
{% endmacro %}