{# Properties of form #}
<div class="panel-body" data-ng-controller="ActivityEditController">
    <form method="post" class="form form-horizontal">

        {# To have collapse/accordion #}
        <div class="panel-group" id="accordion">
            {# Typology #}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#panel-all">{{ 'close_open'|trans({}, 'activity_sequence_editor') }}</a>
                    </h4>
                </div>
                <div id="panel-all" class="panel-collapse collapse">
                    <div class="panel-body">
                        {# Typology #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-typology">{{ 'typology'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-typology" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <select class="form-control" required="true" name="typology" id="typology" data-ng-model="activity.typology">
                                    <option value="vf">VF</option>
                                    <option value="qru">QRU</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        {# Instruction #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-instruction">{{ 'instruction'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-instruction" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                                    name="instruction" id="instruction" data-ng-change="" data-ng-model="activity.instruction"></textarea>
                                </div>
                            </div>
                        </div> {# End Instruction #}

                        {# Information #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-information">{{ 'information'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-information" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                                    name="description" id="description" data-ng-change="" data-ng-model="activity.description"></textarea>
                                </div>
                            </div>
                        </div>

                        {# Object #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-object">{{ 'object'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-object" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                                    name="object" id="object" data-ng-change="" data-ng-model="activity.object"></textarea>
                                </div>
                            </div>
                        </div> {# End Object #}

                        {# Proposition #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-proposition">{{ 'proposition'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-proposition" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                                    name="proposition" id="proposition" data-ng-change="" data-ng-model="activity.proposition"></textarea>
                                </div>
                            </div>
                        </div> {# End Proposition #}

                        {# Question #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#panel-question">{{ 'question'|trans({}, 'activity_sequence_editor') }}</a>
                                </h4>
                            </div>
                            <div id="panel-question" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                                    name="question" id="question" data-ng-change="" data-ng-model="activity.question"></textarea>
                                </div>
                            </div>
                        </div> {# End Question #}

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" data-ng-click="save()">
                                <span class="fa fa-floppy-o"></span> {{ 'save'|trans({}, 'path_editor') }}
                            </button>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </form>
</div> {# End Properties of form #}
