{# Properties of form #}
<div class="panel-body" data-ng-controller="ActivityEditController">
    <form method="post" class="form form-horizontal">
        {# With typology #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="typology">
                {{ 'typology'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div class="col-md-8">
                <select class="form-control" required="true" name="typology" id="typology" data-ng-model="activity.typology">
                    <option value="vf">VF</option>
                    <option value="qru">QRU</option>
                </select>
            </div>
        </div>

        {# Instruction #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="instruction">
                {{ 'instruction'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div id="panel-description" class="col-md-8 panel-collapse collapse in">
                <div class="panel-body">
                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                    name="instruction" id="instruction" data-ng-change="" data-ng-model="activity.instruction"></textarea>
                </div>
            </div>
        </div> {# End Instruction #}

        {# Description #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#panel-description">Description</a>
                </h4>
            </div>
            <div id="panel-description" class="col-md-8 panel-collapse collapse in">
                <div class="panel-body">
                    <textarea data-ui-tinymce="tinymceOptions" class="form-control" required="true"
                    name="description" id="description" data-ng-change="" data-ng-model="activity.description"></textarea>
                </div>
            </div>
        </div>

        {# Information #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="information">
                {{ 'information'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div class="col-md-8">
                <input class="form-control" required="true" name="information" id="information" type="text"
                data-ng-model="activity.information" data-ng-change=""
                placeholder="Saisir une information" size="10" />
            </div>
        </div> {# End Information #}

        {# Object #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="object">
                {{ 'object'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div class="col-md-8">
                <input class="form-control" required="true" name="object" id="object" type="text"
                data-ng-model="activity.object" data-ng-change=""
                placeholder="Saisir un objet de la question" size="10" />
            </div>
        </div> {# End Object #}

        {# Proposition #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="proposition">
                {{ 'proposition'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div class="col-md-8">
                <input class="form-control" required="true" name="proposition" id="proposition" type="text"
                data-ng-model="activity.proposition" data-ng-change=""
                placeholder="Saisir une proposition" size="10" />
            </div>
        </div> {# End Proposition #}

        {# Question #}
        <div class="form-group row">
            <label class="control-label col-md-4" for="question">
                {{ 'question'|trans({}, 'activity_sequence_editor') }}
            </label>
            <div class="col-md-8">
                <input class="form-control" required="true" name="question" id="question" type="text"
                data-ng-model="activity.question" data-ng-change=""
                placeholder="Saisir une question" size="10" />
            </div>
        </div> {# End Question #}

        <div class="pull-right">
            <button type="submit" class="btn btn-primary" data-ng-click="save()">
                <span class="fa fa-floppy-o"></span> {{ 'save'|trans({}, 'path_editor') }}
            </button>
        </div>
    </form>
</div> {# End Properties of form #}
