{# Properties of form #}
<div class="panel-body">
    {# Instruction #}
    <div class="form-group row">
        <label class="control-label col-md-4" for="instruction">
            {{ 'instruction'|trans({}, 'activity_sequence_editor') }}
        </label>
        <div class="col-md-8">
            <input class="form-control ng-invalid ng-invalid-required"
            type="text" data-ng-model="previewStep.durationHours" data-ng-change=""
            placeholder="Saisir une consigne" size="10" />
        </div>
    </div> {# End Instruction #}

    {# Information #}
    <div class="form-group row">
        <label class="control-label col-md-4" for="information">
            {{ 'information'|trans({}, 'activity_sequence_editor') }}
        </label>
        <div class="col-md-8">
            <input class="form-control ng-invalid ng-invalid-required"
            type="text" data-ng-model="previewStep.durationHours" data-ng-change=""
            placeholder="Saisir une information" size="10" />
        </div>
    </div> {# End Information #}

    {# Object #}
    <div class="form-group row">
        <label class="control-label col-md-4" for="object">
            {{ 'object'|trans({}, 'activity_sequence_editor') }}
        </label>
        <div class="col-md-8">
            <input class="form-control ng-invalid ng-invalid-required"
            type="text" data-ng-model="previewStep.durationHours" data-ng-change=""
            placeholder="Saisir un objet de la question" size="10" />
        </div>
    </div> {# End Object #}

    {# Proposition #}
    <div class="form-group row">
        <label class="control-label col-md-4" for="proposition">
            {{ 'proposition'|trans({}, 'activity_sequence_editor') }}
        </label>
        <div class="col-md-8">
            <input class="form-control ng-invalid ng-invalid-required"
            type="text" data-ng-model="previewStep.durationHours" data-ng-change=""
            placeholder="Saisir une proposition" size="10" />
        </div>
    </div> {# End Proposition #}

    {# Question #}
    <div class="form-group row">
        <label class="control-label col-md-4" for="question">
            {{ 'question'|trans({}, 'activity_sequence_editor') }}
        </label>
        <div class="col-md-8">
            <input class="form-control ng-invalid ng-invalid-required"
            type="text" data-ng-model="previewStep.durationHours" data-ng-change=""
            placeholder="Saisir une question" size="10" />
        </div>
    </div> {# End Question #}

    <div class="pull-right">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span> {{ 'save'|trans({}, 'path_editor') }}
        </button>
    </div>
</div> {# End Properties of form #}
