<form method="post" class="form form-horizontal">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'editor'| trans({}, 'activity_sequence_editor') }}
                <small data-ng-bind="activitySequence.name"></small>
            </h3>

            <span class="pull-right">
                <img height="18px" data-ng-show="requestCount.count >0" src="{{ asset('bundles/innovaactivity/images/editor/ajax-loader.gif') }}" />
            </span>
        </div>

        <div class="panel-body">
            <div class="form-group row">
                <label class="control-label col-md-3 required" for="name">
                    {{ 'activity_sequence_form_name' | trans({}, 'activity_sequence') }}
                </label>
                <div class="col-md-9">
                    <input id="name" name="activitySequence.name" class="form-control" type="text" data-ng-model="activitySequence.name" required="required" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default" data-ng-click="addActivity()" data-ng-disabled="requestCount.count > 0">
                <i class="fa fa-plus"></i>
                <span>{{ 'add_activity'| trans({}, 'activity_sequence_editor') }}</span>
            </button>

            <br/><br/>

            <ul class="nav nav-pills nav-stacked" data-ui-sortable="sortableOptions" data-ng-model="activitySequence.activities">
                <li data-ng-repeat = "activity in activitySequence.activities" data-ng-class="{ 'active' : currentActivity == activity }">
                    <a href="" data-ng-click="showActivity(activity)">
                        <span class="badge" data-ng-bind="activity.order"></span>
                        {% verbatim %}
                        {{ activity.name }}
                        {% endverbatim %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <activity-edit data-activity="currentActivity" data-ng-if="currentActivity"></activity-edit>

            <div class="text-center" ng-if="activitySequence.activities.length == 0">
                <div class="alert alert-info" role="alert">
                    {{ 'empty_activity_sequence'| trans({}, 'activity_sequence_editor') }}
                </div>
            </div>
        </div>
    </div>
</form>