{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='cssmin'  output='vendor/innovaactivity/editor.css'
        '@InnovaActivityBundle/Resources/public/css/Editor/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.name ~ ' - ' ~ workspace.code,
                'href': path('claro_workspace_open', {'workspaceId': workspace.id, 'toolName': 'home'})
            },
            {
                'name': 'editor'|trans({}, 'activity_sequence_editor'),
                'href': ''
            },
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" data-ng-app="App" data-ng-cloak="" data-ng-controller="ActivitySequenceEditController">
            <div class="panel-heading">
                {{ 'activity_sequence'| trans({}, 'activity_sequence_editor') }}
                <strong data-ng-bind="activitySequence.name"></strong>
                <img height="24px" class="pull-right" data-ng-show="requestCount.count >0" src="{{ asset('bundles/innovaactivity/images/editor/ajax-loader.gif') }}"/>
            </div>
            <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="list-group text-center">
                                <li class="list-group-item">
                                    <button class="btn btn-default btn-xs" data-ng-click="addActivity()" data-ng-disabled="requestCount.count >0">
                                        <span class="fa fa-plus-circle"></span> {{ 'add_activity'| trans({}, 'activity_sequence_editor') }}
                                    </button>
                                </li>
                            </ul>
                            <ul class="list-group text-center" ui-sortable="sortableOptions" ng-model="activitySequence.activities">
                                <li  class="list-group-item" 
                                        data-ng-repeat="activity in activitySequence.activities" 
                                        data-ng-click="showActivity(activity.id)"> 
                                        {% verbatim %}{{ activity.id }}({{ activity.order }}){% endverbatim %}
                                </li>
                            </ul>
                        </div>
                        {% verbatim %}
                        <div class="col-md-10">
                            <div class="panel panel-default" ng-if="currentActivity != null">
                                <div class="panel-heading">
                                    {{ currentActivity.name }}
                                    <button class="btn btn-default btn-xs pull-right" data-ng-click="deleteActivity(currentActivity.id)" data-ng-disabled="requestCount.count >0">
                                        <i class="fa fa-times"></i>
                                        Delete
                                    </button>
                                </div>
                                <div class="panel-body">
                                    {{ currentActivity.id }} {{ currentActivity.order }}
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    {# Load translations #}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'activity_sequence_editor' }) }}"></script>
    {# Angular #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-js-activitybundle.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui-activitybundle.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
        '@InnovaAngularUITranslationBundle/Resources/public/js/*'
        '@InnovaAngularUISortableBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% javascripts debug=false filter='jsmin' output='vendor/innovaactivity/editor.js'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/*'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/Controllers/*'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/Services/*'
    '@InnovaActivityBundle/Resources/public/angularjs/Loader/*'
    '@InnovaActivityBundle/Resources/public/angularjs/Loader/Services/*'
    '@InnovaActivityBundle/Resources/public/angularjs/app.module.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        var ActivityEditorApp = {};
        ActivityEditorApp.activitySequence = {{ activitySequence | raw }};
        ActivityEditorApp.workspaceId = {{ workspace.id }};
    </script>
{% endblock %}