{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='cssmin'  output='vendor/innovaactivity/editor.css'
        '@InnovaActivityBundle/Resources/public/css/Editor/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-book',
                'name': 'workspaces'|trans({}, 'platform'),
                'href': path('claro_workspace_list')
            },
            {
                'name': workspace.name ~ ' - ' ~ workspace.code,
                'href': path('claro_workspace_open', {'workspaceId': workspace.id, 'toolName': 'home'})
            },
            {
                'name': 'editor'|trans({}, 'activity_sequence_editor'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" data-ng-app="App">
        <div data-ng-controller="ActivitySequenceEditController">
            <div class="panel-heading">
                Séquence d'activités 
                <strong data-ng-bind="activitySequence.name"></strong>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" data-ng-click="addActivity()"><span class="fa fa-plus-circle"></span> Ajouter une activité</li>
                    <li class="list-group-item" data-ng-repeat="activity in activitySequence.activities">
                        {% verbatim %}{{ activity.id }}{% endverbatim %}
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {# Load Claroline JS #}
    {{ parent() }}
    
    {# Load translations #}
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', { 'domain_name': 'activity_sequence_editor' }) }}"></script>
    {# Angular #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-js-activitybundle.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui-activitybundle.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
        '@InnovaAngularUITranslationBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% javascripts debug=false filter='jsmin' output='vendor/innovaactivity/editor.js'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/*'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/Controllers/*'
    '@InnovaActivityBundle/Resources/public/angularjs/ActivitySequence/Services/*'
    '@InnovaActivityBundle/Resources/public/angularjs/Activity/*'
    '@InnovaActivityBundle/Resources/public/angularjs/Activity/Controllers/*'
    '@InnovaActivityBundle/Resources/public/angularjs/Activity/Services/*'
    '@InnovaActivityBundle/Resources/public/angularjs/app.module.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        var ActivityEditorApp = {};
        ActivityEditorApp.activitySequence = {{ activitySequence | raw }};
        ActivityEditorApp.workspaceId        = {{ workspace.id }};
    </script>
{% endblock %}